<div class="uk-container uk-margin-medium-top">
    <h3>Create new Application</h3>
    <ul
        class="progress-tracker custom-theme progress-tracker--center progress-tracker--text uk-margin-bottom uk-margin-top">
        <li class="progress-step is-active">
            <div class="progress-marker"></div>
            <div class="progress-text">
                <h4 class="progress-title">Personal Information</h4>
            </div>
        </li>
        <li class="progress-step is-disabled">
            <div class="progress-marker"></div>
            <div class="progress-text">
                <h4 class="progress-title">Academic Information</h4>
            </div>
        </li>
        <li class="progress-step is-disabled">
            <div class="progress-marker"></div>
            <div class="progress-text">
                <h4 class="progress-title">Payment Details</h4>
            </div>
        </li>
    </ul>
    <div class="error-summary uk-margin-bottom">
        <div class="uk-card uk-card-small uk-card-default uk-card-body">
            <h3 class="uk-card-title">Summary</h3>
            <ul class="error-list">
                <li><a data-connect="#firstName" class="error">First Name</a> field cannot be empty</li>
            </ul>
        </div>
    </div>

    <div id="tab-contents" class="uk-switcher">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing edivt, sed do eiusmod tempor incididunt ut labore et
            dolore magna adivqua.</div>
        <div>Ut enim ad minim veniam, quis nostrud exercitation dlamco laboris nisi ut adivquip ex ea commodo consequat.
        </div>
        <div>Duis aute irure dolor in reprehenderit in voluptate vedivt esse cillum dolore eu fugiat nulla pariatur, sed
            do eiusmod.</div>
    </div>

</div>